// Colors
$color-white: #FFFAFA;
$color-black: #3B3939;
$color-primary: #F7D02C;

// Breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large: 1200px;

$animationSpeed: 40s;


