@import "typography";
@import "../utils/variables";
@import "../utils/mixins";

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-text;
  font-size: $font-size-base;
  color: $color-black;
  background-color: $color-white;
  @include flexbox(column, center, center);
}